* {
  box-sizing: border-box;
}

#admin-body {
  background-image: url('../images/wave.png');
  padding-top: 50px;
}

#admin-nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 100px;
  background-color: black;
}

.nav-div {
  height: 30px;
  width: 100px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  font-family: monospace;
  font-size: 20px;
  border-right: 1px solid white;
}

#admin-nav a {
  text-decoration: none;
  color: white;
}

#login-body  {
  padding-top: 50px;
  text-align: center;
}

#guest-body {
  padding-top: 50px;
  padding-left: 150px;
  background-image: url('../images/wave.png');
}

.sidebar-left {
  height: 100%;
  width: 150px;
  position: fixed;
  left: 0;
  top: 50px;
  background-color: rgba(0,0,0,0.8);
}

.sidebar-left-div {
  height: 50px;
  color: white;
  font-family: monospace;
  padding: 15px;
  border-bottom: 1px solid white;
}

.form-container {
  width: 80%;
  text-align: center;
  margin: auto;
}

input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  width:100%;
  display: block;
  margin-top: 15px;
  margin-bottom: -10px;
}

input[type=submit]{
  width: 50%;
  border: 2px solid black;
  background-color: white;
  margin-top: 10px;
}

input[type=number]{
  width: 200px;
  border: 1px solid black;
  display: inline-block;
}

.admin-options-container {
  width: 200px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 20px;
  float: left;
  background-color: rgba(255,255,255,0.5);
}

.icon {
  display: inline;
  margin: 2px;
}

.number {
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;
}

.food-choice-container {
  width: 90%;
  height: 50px;
}

.food-choice-container p {
  float: left;
  position: relative;
  top: 20px;
  width: 70%;
  display: inline-block;
  text-align: left;
}

.inline-block {
  display: inline;
}

.inline {
  display: inline;
}

.float-left {
  float: left;
}

.width30 {
  width: 30%;
}

.width50 {
  width: 50%;
}

.width70 {
  width: 70%;
}

.warning {
  color: red;
}

.create {
  background-color: lightgreen;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error {
  margin-top: 20px;
  width: 60%;
}

.logo {
  width: 70%;
  margin-top: 10%;
}

.wedding-header {
  margin-top: 20px;
}

.wedding-header h2,
.wedding-header p {
  display: inline-block;
}

.user-container p {
  display: inline-block;
}

input[type=checkbox] {
  margin-top: -50px;
}

.attending-container {
  width: 100%;
  margin-top: 20px;
}

.radio-container {
  height: 50px;
  width: 49%;
  display: inline-block;
  padding-left: 20px;
}

.radio-container p {
  width: 80%;
  margin-left: 10%;
  display: inline-block;
  float: left;
  position: relative;
  top: 20px;
  text-align: left;
}

.radiobutton {
  width: 10%;
  height: 50px;
  float: left;
}

button {
  margin: 5px;
  width: 100px;
  height: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin-top: 10px;
}

ul {
  list-style: none;
}

#username {
  margin-top: 10%;
}

#food {
  margin-top: 20px;
}

/* ----------  BLUE TABLE ----------------- */

table.blueTable {
  font-family: Verdana, Geneva, sans-serif;
  border: 2px solid #000000;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 2px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

/* ---------------  BLACK TABLE ------------------- */

table.blackTable {
  font-family: Verdana, Geneva, sans-serif;
  border: 2px solid #000000;
  background-color: #EEEEEE;
  height: px;
  text-align: left;
  border-collapse: collapse;
}
table.blackTable td, table.blackTable th {
  border: 1px solid #AAAAAA;
  padding: 2px 2px;
}
table.blackTable tbody td {
  font-size: 13px;
}
table.blackTable tr:nth-child(even) {
  background: #F5D8D8;
}
table.blackTable thead {
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-bottom: 2px solid #444444;
}
table.blackTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #F5F5F5;
}
table.blackTable thead th:first-child {
  border-left: none;
}

table.blackTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blackTable tfoot td {
  font-size: 14px;
}
table.blackTable tfoot .links {
  text-align: right;
}
table.blackTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
