.logo {
  width: 60%;
  margin-top: 50px;
}

.inline {
  display: inline;
}

input {
  display: block;
  width: 50%;
}

input[type=submit]{
  display: block;
  width: 10%;
}

.attending-container {
  width: 50%;
  margin-top: 20px;
}

.radio-container {
  height: 50px;
  width: 49%;
  display: inline-block;
}

.radio-container p {
  width: 80%;
  margin-left: 10%;
  display: inline-block;
  float: left;
  position: relative;
  top: 20px;
  text-align: left;
}

.radiobutton {
  width: 10%;
  height: 50px;
  float: left;
}

input[type=number]{
  width: 40px;
  border: 1px solid black;
  display: inline-block;
}

.number {
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;
}

.food-choice-container p {
  position: relative;
  top: 20px;
  float: left;
  display: inline-block;
  width: 70%;
  text-align: left;
}

.food-choice-container {
  height: 50px;
  width: 50%;
}
